<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://azurefunctionbindings20240818165830.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/0b19928d-732f-44a0-a7e1-a0f971531859/resourcegroups/rg-az-204/providers/Microsoft.Web/sites/AzureFunctionBindings20240818165830</ResourceId>
    <UserName>$AzureFunctionBindings20240818165830</UserName>
    <_SavePWD>true</_SavePWD>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://azurefunctionbindings20240818165830.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>